[submodule "third_party/comaps"]
	path = third_party/comaps
	url = https://codeberg.org/comaps/comaps.git
	ignore = untracked
[submodule "ultimate-mapcore"]
	path = ultimate-mapcore
	url = https://github.com/qtekfun/ultimate-mapcore
